[role="radio"],
[role="checkbox"] {
  display: inline-block;
  position: relative;
  outline: none;
  border-top: 1px dashed transparent;
  border-bottom: 1px dashed transparent;
  border-left: 3px solid transparent;
  border-right: 1px dashed transparent;
  -webkit-column-break-inside: avoid;
  cursor: pointer;
}

/* Take a little padding out of the bottom on writing mode vertical-rl */
.qti3-player-writing-mode-vertical-rl [role="radio"],
.qti3-player-writing-mode-vertical-rl [role="checkbox"] {
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  border-left: 1px dashed transparent;
  border-top: 3px solid transparent;
}

[role="checkbox"]::before,
[role="checkbox"]::after,
[role="radio"]::before,
[role="radio"]::after {
  position: absolute;
  top: 50%;
  left: 0.95rem;
  transform: translateY(-50%);
  content: "";
}

.qti3-player-writing-mode-vertical-rl
  [role="checkbox"]:not(.control-hidden)::before,
.qti3-player-writing-mode-vertical-rl
  [role="checkbox"]:not(.control-hidden)::after,
.qti3-player-writing-mode-vertical-rl
  [role="radio"]:not(.control-hidden)::before,
.qti3-player-writing-mode-vertical-rl
  [role="radio"]:not(.control-hidden)::after {
  position: absolute;
  top: 0.95rem;
  left: auto;
  right: 0.15rem;
  transform: translate(-50%, -50%);
  content: "";
}

[role="checkbox"]:not(.control-hidden)::before,
[role="radio"]:not(.control-hidden)::before {
  width: 1rem;
  height: 1rem;
  margin-top: 0;
  vertical-align: top;
  background-color: var(--choice-control-bgc);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--choice-control-border);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

/* Used for order interaction */
.draggable {
  display: inline-block;
  position: relative;
  font-weight: 400;
  cursor: move;
  padding: 0.25rem;
  margin: 0;
  vertical-align: top;
  color: var(--choice-ctrlh-color);
  background-color: var(--choice-ctrlh-bgc);
  border: 1px solid var(--choice-ctrlh-color);
  overflow: hidden;
  text-decoration: none;
  border-radius: 0.25rem;
}

/* ============================================
   Overrides for narrower than iPad in portrait
   ============================================ */
@media (max-width: 767px) {
  [role="radio"],
  [role="checkbox"] {
    /* padding: 0.25rem 0.25rem 0.25rem 1.5rem; */
    padding: 0.25rem 0.25rem 0.25rem 2rem;
  }

  [role="radio"].sbac {
    padding: 0.25rem 0.25rem 0.25rem 1.8rem;
  }
}

[role="radio"]:not(.control-hidden)::before {
  border-radius: 50%;
}

[role="checkbox"]:not(.control-hidden)::before {
  border-radius: 0.25rem;
}

[role="checkbox"]:not(.control-hidden):active::before,
[role="radio"]:not(.control-hidden):active::before {
  filter: brightness(90%);
}

/* Choice focus */
[role="checkbox"]:not(.control-hidden):focus,
[role="radio"]:not(.control-hidden):focus {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 3px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 0.15rem;
  border-color: var(--choice-focus-border);
}

.qti3-player-writing-mode-vertical-rl [role="radio"]:not(.control-hidden):focus,
.qti3-player-writing-mode-vertical-rl
  [role="checkbox"]:not(.control-hidden):focus {
  border-top: 3px solid transparent;
  border-left: 1px solid transparent;
  border-color: var(--choice-focus-border);
}

/* Radio/Checkbox control focus */
[role="checkbox"]:not(.control-hidden):focus::before,
[role="radio"]:not(.control-hidden):focus::before {
  border-color: var(--choice-control-focus-border);
  outline: 0;
  /* Puts pale blue box shadow around the control */
  box-shadow: var(--choice-control-focus-shadow);
}

/* Radio/Checkbox control checked */
[role="checkbox"][aria-checked="true"]:not(.control-hidden)::before,
[role="radio"][aria-checked="true"]:not(.control-hidden):not(.sbac)::before {
  background-color: var(--choice-control-checked-bg);
  border-color: var(--choice-control-checked-bc);
}

/* Radio control checked */
[role="radio"][aria-checked="true"]:not(.control-hidden):not(.sbac)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='currentColor' /%3e%3c/svg%3e");
}

/* Radio control checked for default color scheme */
.qti3-player-color-default
  [role="radio"][aria-checked="true"]:not(.control-hidden):not(.sbac)::before,
.qti3-player-color-blackwhite
  [role="radio"][aria-checked="true"]:not(.control-hidden):not(.sbac)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff' /%3e%3c/svg%3e");
}

.qti3-player-color-blackrose
  [role="radio"][aria-checked="true"]:not(.control-hidden):not(.sbac)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23ffd0ff' /%3e%3c/svg%3e");
}

.qti3-player-color-mgraydgray
  [role="radio"][aria-checked="true"]:not(.control-hidden):not(.sbac)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23666' /%3e%3c/svg%3e");
}

.qti3-player-color-dgraymgray
  [role="radio"][aria-checked="true"]:not(.control-hidden):not(.sbac)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23e5e5e5' /%3e%3c/svg%3e");
}

.qti3-player-color-blueyellow
  [role="radio"][aria-checked="true"]:not(.control-hidden):not(.sbac)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23ffcc00' /%3e%3c/svg%3e");
}

.qti3-player-color-yellowblue
  [role="radio"][aria-checked="true"]:not(.control-hidden):not(.sbac)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23003398' /%3e%3c/svg%3e");
}

.qti3-player-color-blackcyan
  [role="radio"][aria-checked="true"]:not(.control-hidden):not(.sbac)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23add8e6' /%3e%3c/svg%3e");
}

.qti3-player-color-blackcream
  [role="radio"][aria-checked="true"]:not(.control-hidden):not(.sbac)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fffacd' /%3e%3c/svg%3e");
}

/* Checkbox control checked */
[role="checkbox"][aria-checked="true"]:not(.control-hidden)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

/* Checkbox control checked for default color scheme */
.qti3-player-color-default
  [role="checkbox"][aria-checked="true"]:not(.control-hidden)::before,
.qti3-player-color-defaultreverse
  [role="checkbox"][aria-checked="true"]:not(.control-hidden)::before,
.qti3-player-color-blackwhite
  [role="checkbox"][aria-checked="true"]:not(.control-hidden)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.qti3-player-color-blackrose
  [role="checkbox"][aria-checked="true"]:not(.control-hidden)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffd0ff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.qti3-player-color-mgraydgray
  [role="checkbox"][aria-checked="true"]:not(.control-hidden)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23666' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.qti3-player-color-dgraymgray
  [role="checkbox"][aria-checked="true"]:not(.control-hidden)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23e5e5e5' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.qti3-player-color-blueyellow
  [role="checkbox"][aria-checked="true"]:not(.control-hidden)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffcc00' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.qti3-player-color-yellowblue
  [role="checkbox"][aria-checked="true"]:not(.control-hidden)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23003398' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.qti3-player-color-blackcyan
  [role="checkbox"][aria-checked="true"]:not(.control-hidden)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23add8e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.qti3-player-color-blackcream
  [role="checkbox"][aria-checked="true"]:not(.control-hidden)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fffacd' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

/* ===========
   SBAC styles
   =========== */
[role="radio"].sbac::before {
  width: 1.25rem;
  height: 1.25rem;
  /* Default inner color of the control */
  background-color: var(--choice-control-bgc);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* The pale gray border around the control */
  border: var(--choice-control-border);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  print-color-adjust: exact;
}

[role="radio"].sbac::after {
  font-size: 0.85rem;
}

[role="radio"][data-label="A"].sbac::after {
  content: "A";
}

[role="radio"][data-label="B"].sbac::after {
  content: "B";
}

[role="radio"][data-label="C"].sbac::after {
  content: "C";
}

[role="radio"][data-label="D"].sbac::after {
  content: "D";
}

[role="radio"][data-label="E"].sbac::after {
  content: "E";
}

[role="radio"][data-label="F"].sbac::after {
  content: "F";
}

[role="radio"][aria-checked="false"].sbac::before {
  background-color: var(--choice-sbac-control-unchecked-bg);
  border-color: var(--choice-sbac-control-unchecked-bc);
}

[role="radio"][aria-checked="true"].sbac::before {
  background-color: var(--choice-sbac-control-checked-bg);
  border-color: var(--choice-sbac-control-checked-bc);
}

[role="radio"][aria-checked="false"].sbac::after {
  color: var(--choice-sbac-unchecked-color);
}

[role="radio"][aria-checked="true"].sbac::after {
  color: var(--choice-sbac-checked-color);
}

/* =====================
   Control Hidden styles
   ===================== */

[role="radio"].control-hidden,
[role="checkbox"].control-hidden {
  color: var(--choice-ctrlh-color);
  background-color: var(--choice-ctrlh-bgc);
  border: 1px solid var(--choice-ctrlh-color);
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  padding-left: 0.2rem;
}

.qti3-player-writing-mode-vertical-rl [role="radio"].control-hidden,
.qti3-player-writing-mode-vertical-rl [role="checkbox"].control-hidden {
  padding-top: 0.3rem;
  margin-left: 0.75rem;
}

[role="radio"][aria-checked="true"].control-hidden,
[role="checkbox"][aria-checked="true"].control-hidden {
  color: var(--choice-ctrlh-checked-color);
  background-color: var(--choice-ctrlh-checked-bgc);
  border: 1px solid var(--choice-ctrlh-checked-bgc);
}

[role="checkbox"].control-hidden:focus,
[role="radio"].control-hidden:focus {
  border: 1px solid transparent;
  border-color: var(--choice-ctrlh-focus-bc);
  color: var(--choice-ctrlh-color);
  box-shadow: var(--choice-control-focus-shadow);
}

[role="checkbox"][aria-checked="true"].control-hidden:focus,
[role="radio"][aria-checked="true"].control-hidden:focus {
  border: 1px solid transparent;
  border-color: var(--choice-ctrlh-checked-color);
  color: var(--choice-ctrlh-checked-color);
}

[role="checkbox"].control-hidden:hover,
[role="radio"].control-hidden:hover {
  filter: var(--choice-ctrlh-hover-brightness);
}

/* ================
   LRN Block Styles
   ================ */

[role="radio"].control-hidden.lrn,
[role="checkbox"].control-hidden.lrn {
  color: var(--foreground);
  background-color: var(--choice-ctrlh-bgc);
  border: 1px solid var(--choice-ctrlh-color);
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
}

[role="radio"].control-hidden.lrn .qti-choice-label:not(.qti-hidden),
[role="checkbox"].control-hidden.lrn .qti-choice-label:not(.qti-hidden) {
  display: table-cell;
  padding-top: 0.55em;
  padding-left: 0.65em;
  padding-right: 0.65em;
  padding-bottom: 0.55em;
  font-size: 1.8em;
  width: 2.1em;
  min-width: 2.1em;
  height: 100%;
  min-height: 2em;
  color: var(--choice-ctrlh-color);
  background-color: var(--choice-ctrlh-lblbgc);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

[role="radio"].control-hidden.lrn .qti-choice-description,
[role="checkbox"].control-hidden.lrn .qti-choice-description {
  display: table-cell;
  width: 100%;
  padding-top: 0.85em;
  padding-right: 0;
  padding-bottom: 0.8em;
  padding-left: 0.7em;
  vertical-align: middle;
  color: var(--choice-ctrlh-desccolor);
}

[role="radio"][aria-checked="true"].control-hidden.lrn
  .qti-choice-label:not(.qti-hidden),
[role="checkbox"][aria-checked="true"].control-hidden.lrn
  .qti-choice-label:not(.qti-hidden) {
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  color: var(--choice-ctrlh-checked-color);
  background-color: var(--choice-ctrlh-checked-bgc);
}

[role="radio"][aria-checked="true"].control-hidden.lrn .qti-choice-description,
[role="checkbox"][aria-checked="true"].control-hidden.lrn
  .qti-choice-description {
  color: var(--choice-ctrlh-checked-color);
  background-color: var(--choice-ctrlh-checked-bgc);
}

/* ===============
   Disabled styles
   ===============*/

[role="radio"].disabled:not(.control-cell),
[role="checkbox"].disabled:not(.control-cell) {
  pointer-events: none;
  filter: none;
  opacity: 0.6;
}

[role="radio"].control-hidden.disabled,
[role="checkbox"].control-hidden.disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.75;
}

/* ============================
   Label and Description styles
   ============================ */

.qti-choice-label {
  display: inline-block;
  vertical-align: top;
  width: 1.5rem;
}

.qti-choice-interaction.qti-labels-cjk-ideographic .qti-choice-label {
  width: 2rem;
}

/* When writing mode is vertical-rl and labels cjk-ideographic, add more height */
.qti3-player-writing-mode-vertical-rl
  .qti-choice-interaction.qti-labels-cjk-ideographic:not(
    .qti-labels-suffix-none
  )
  .qti-choice-label {
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2.15rem;
  writing-mode: horizontal-tb;
  text-align: right;
  padding-right: 0.15rem;
}

/* When writing mode is vertical-rl and labels cjk-ideographic, add more height */
.qti3-player-writing-mode-vertical-rl
  .qti-choice-interaction.qti-labels-cjk-ideographic.qti-labels-suffix-none
  .qti-choice-label {
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2.15rem;
  writing-mode: horizontal-tb;
  text-align: right;
  padding-right: 0.4rem;
}

.qti3-player-writing-mode-vertical-rl
  .qti-choice-interaction:not(.qti-labels-cjk-ideographic):not(
    .qti-labels-suffix-none
  )
  .qti-choice-label,
.qti3-player-writing-mode-vertical-rl
  .qti-choice-interaction:not(
    .qti-labels-cjk-ideographic
  ).qti-labels-suffix-none
  .qti-choice-label {
  margin-top: 1.65rem;
  margin-bottom: 0.75rem;
  width: 2rem;
  height: 1.5rem;
  writing-mode: horizontal-tb;
  text-align: center;
}

.qti3-player-writing-mode-vertical-rl
  .qti-choice-interaction:not(.qti-labels-cjk-ideographic):not(
    .qti-labels-suffix-none
  )
  .qti-choice-label {
  padding-left: 0.4rem;
}

.qti3-player-writing-mode-vertical-rl
  .qti-choice-interaction:not(
    .qti-labels-cjk-ideographic
  ).qti-labels-suffix-none
  .qti-choice-label {
  padding-left: 0.15rem;
}

.qti3-player-writing-mode-vertical-rl .qti-choice-label {
  display: inline-block;
  vertical-align: top;
  margin-top: 1.75rem;
  height: 1.5rem;
}

/* Add some top padding when vertical-rl and labels none */
.qti3-player-writing-mode-vertical-rl
  .qti-labels-none:not(.qti-input-control-hidden)
  .qti-choice-description {
  margin-top: 1.95rem;
}

.qti3-player-writing-mode-vertical-rl
  .qti-choice-interaction:not(
    .qti-labels-cjk-ideographic
  ).qti-input-control-hidden
  .qti-choice-label {
  margin-top: 0;
}

.qti3-player-writing-mode-vertical-rl
  .qti-choice-interaction.qti-labels-cjk-ideographic.qti-input-control-hidden
  .qti-choice-label {
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin-top: 0;
  text-align: center;
  padding-right: 0.25rem;
}

.qti3-player-writing-mode-vertical-rl
  .qti-choice-interaction.qti-labels-cjk-ideographic.qti-input-control-hidden.qti-labels-suffix-none
  .qti-choice-label {
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin-top: 0.25rem;
  text-align: center;
  padding-right: 0.5rem;
}

.qti-choice-label.qti-hidden {
  display: none;
  width: 0px;
}

.qti-choice-label.sbac {
  position: fixed !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  border: 0;
  margin: -1px;
}

.qti-choice-description {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 1.5em);
}

.qti-choice-interaction.qti-labels-cjk-ideographic .qti-choice-description {
  width: calc(100% - 2rem);
}

.player-show-solution .qti-simple-choice-wrapper::after {
  display: inline-block;
  content: " ";
  width: 26px;
  height: 26px;
  vertical-align: middle;
  margin-top: -1px;
}

.player-show-solution.player-choice-incorrect
  .qti-simple-choice-wrapper::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='26' width='26' viewBox='0 0 384 512'%3e%3cpath fill='%23dd002f' stroke='%23dd002f' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3e%3c/svg%3e");
}

.player-show-solution.player-choice-correct .qti-simple-choice-wrapper::after,
.player-show-solution.player-choice-expected .qti-simple-choice-wrapper::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%234a700a' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.qti3-player-color-whiteblack
  .player-show-solution.player-choice-correct
  .qti-simple-choice-wrapper::after,
.qti3-player-color-whiteblack
  .player-show-solution.player-choice-expected
  .qti-simple-choice-wrapper::after,
.qti3-player-color-defaultreverse
  .player-show-solution.player-choice-correct
  .qti-simple-choice-wrapper::after,
.qti3-player-color-defaultreverse
  .player-show-solution.player-choice-expected
  .qti-simple-choice-wrapper::after,
.qti3-player-color-roseblack
  .player-show-solution.player-choice-correct
  .qti-simple-choice-wrapper::after,
.qti3-player-color-roseblack
  .player-show-solution.player-choice-expected
  .qti-simple-choice-wrapper::after,
.qti3-player-color-creamblack
  .player-show-solution.player-choice-correct
  .qti-simple-choice-wrapper::after,
.qti3-player-color-creamblack
  .player-show-solution.player-choice-expected
  .qti-simple-choice-wrapper::after,
.qti3-player-color-cyanblack
  .player-show-solution.player-choice-correct
  .qti-simple-choice-wrapper::after,
.qti3-player-color-cyanblack
  .player-show-solution.player-choice-expected
  .qti-simple-choice-wrapper::after,
.qti3-player-color-yellowblue
  .player-show-solution.player-choice-correct
  .qti-simple-choice-wrapper::after,
.qti3-player-color-yellowblue
  .player-show-solution.player-choice-expected
  .qti-simple-choice-wrapper::after,
.qti3-player-color-mgraydgray
  .player-show-solution.player-choice-correct
  .qti-simple-choice-wrapper::after,
.qti3-player-color-mgraydgray
  .player-show-solution.player-choice-expected
  .qti-simple-choice-wrapper::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%2398fb98' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.player-show-solution.player-choice-correct {
  border-left: 3px solid #4a700a;
  /*background-color: #f0f8ed;*/
}

.player-show-solution.player-choice-incorrect {
  border-left: 3px solid #dd002f;
  /*background-color: #fbc3e3;*/
}

.player-show-solution.player-choice-expected {
  border-left: 3px solid #888;
  /*background-color: #fcfcd3;*/
}

.control-hidden .qti-choice-label,
.control-hidden .qti-choice-description {
  padding-left: 0.25rem;
}

.qti3-player-writing-mode-vertical-rl .control-hidden .qti-choice-label {
  margin-top: 0;
}

.qti3-player-writing-mode-vertical-rl .control-hidden .qti-choice-label,
.qti3-player-writing-mode-vertical-rl .control-hidden .qti-choice-description {
  padding-right: 0.25rem;
}

[role="button"].control-hidden .qti-choice-description {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  overflow-wrap: break-word;
}

[role="button"].control-hidden .qti-choice-label,
[role="button"].control-hidden .qti-choice-description {
  padding: 0;
}

.qti3-player-writing-mode-vertical-rl
  .qti-choice-interaction.qti-labels-none.qti-input-control-hidden
  .qti-choice-description {
  padding-top: 0.25rem;
}

.qti3-player-writing-mode-vertical-rl
  .qti-choice-interaction.qti-input-control-hidden
  .qti-choice-description {
  padding-bottom: 0.25rem;
}
